{% extends "blog/base.html" %}
{% block content %}
    <h1>Sobre MyDailyDrive</h1>
    <h7>Bienvenido a MyDailyDrive, tu destino definitivo para los amantes de los autos y 
        la pasión por manejar!. Somos más que un blog, somos una comunidad apasionada que 
        comparte el amor de la velocidad y la libertad que solo un auto puede ofrecer.
    </h7>
    <br>
    <br>
    <h2>Nuestra Misión</h2>
    <h7>En MyDailyDrive, nos enorgullece ofrecer un espacio en línea donde los entusiastas de los 
        autos pueden reunirse, compartir experiencias y mantenerse actualizados sobre las últimas 
        novedades en el mundo automovilístico. Nuestra misión es brindar un lugar donde puedas:
    </h7>
    <br>
    <br>
    <h6>Compartir tu Pasión:</h6>
    <h7>Ya sea que tengas un clásico atemporal, un deportivo de última generación o simplemente te 
        apasione el mundo de los autos, MyDailyDrive es el lugar para compartir tus historias, aventuras 
        y conocimientos.
    </h7>
    <br>
    <br>
    <h6>Construir Comunidades:</h6>
    <h7>Fomentamos la creación de grupos y clubes de automóviles, donde podrás conectar con personas que 
        comparten tus mismos intereses y pasión por las cuatro ruedas.
    </h7>
    <br>
    <br>
    <h6>Informarte:</h6>
    <h7>Mantente al tanto de las últimas noticias, reseñas de autos, consejos de mantenimiento y tendencias en 
        la industria automotriz. Ayudarnos entre nosotros es la clave.
    </h7>
    <br>
    <br>
    <h6>Programar Encuentros: </h6>
    <h7>Anuncia eventos locales, juntadas, exhibiciones y cualquier actividad relacionada con autos en tu área. 
        MyDailyDrive es tu plataforma para conectar con otros fanáticos y llevar tu amor por los autos a la calle.
    </h7>
    <br>
    <br>
    <h2>Nuestra Comunidad</h2>
    <h7>MyDailyDrive es mucho más que un blog; es un espacio donde fanáticos de todo el mundo se reúnen 
        para celebrar la cultura automovilística. Desde historias personales hasta análisis detallados de vehículos, 
        aca vas a encontrar una amplia variedad de contenidos creados por apasionados como vos.
    </h7>
    <br>
    <br>
    <h2>Unite a nosotros</h2>
    <h7>¡No importa si sos un entusiasta de toda la vida o recién estás comenzando a explorar el mundo 
        de los autos! En MyDailyDrive, todos son bienvenidos. Así que unite a nuestra comunidad, comparte tus 
        experiencias, conoce a otros fanáticos y descubri la belleza y la emoción que solo los autos pueden ofrecer.
    </h7>
    <br>
    <br>
    <h7>Gracias por ser parte de MyDailyDrive. Estamos emocionados de tenerte a bordo en esta emocionante travesía.
    </h7>
    <br>
    <br>
    <h7>Empeza conducir con nosotros hoy!</h7>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


{% endblock content %}
